@import "tailwindcss";

:root {
  box-sizing: border-box;
  --background: #000000;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: white;
  background-image: url("/bg-stack.png");
  background-size: 40vw 90vh;
  background-position: 45vw -40px;
  background-repeat: no-repeat;
  font-family: var(--font-volk-sans-normal);
}

.add-gradient {
  background: conic-gradient(
    from 90deg,
    rgba(255, 255, 255, 1) 0deg,
    rgba(45, 45, 45, 1) 360deg
  );
}
.tactic-sans-med {
  font-family: var(--font-tactic-sans-med);
}

/* Small screens (sm) */
@media (min-width: 40rem) {
  body {
    background-size: cover;
    background-position: left top;
  }
}

/* Medium screens (md) */
@media (min-width: 48rem) {
  body {
    background-size: cover;
    background-position: left top;
  }
}

/* Large screens (lg) */
@media (min-width: 64rem) {
  body {
    background-size: 55vw 90vh;
    background-position: 45vw -40px;
  }
}

/* Extra-large screens (xl) */
@media (min-width: 80rem) {
  body {
    background-size: 58vw 90vh;
    background-position: 45vw -40px;
  }
}
